@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination .swiper-pagination-bullet {
  border: none !important;
  outline: none !important;
  width: 7px !important;
  height: 7px !important;
  border-radius: 20px !important;
  background: white !important;
  opacity: 1 !important;
  margin: 0px 5px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f7f7f7 !important;
  width: 54px !important;
  height: 7px !important;
}

.customHidden {
  overflow: hidden;
}
